.header {
    background-color: navy;
    display: flex;
}
.header-main{
    font-size: 40px;
    width: 40%;
    color: white;
    text-align: center;
}
.header-nav{
    width: 60%;
    text-align: center;
    padding: 40px;
}

.header-nav > a{
    font-size: 23px;
    margin-left: 60px;
    text-align: center;
    color: white;
    display: inline;
}

.main{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    font-size: 50px;
    text-align: center;
    border-left: 10px solid navy ;
    margin-right: 23%;
    margin-left: 23%;
}
.profile{


}
.main-title {
    margin-top: 80px;
    color: black;
    font-size: 30px;
    border-bottom: 3px solid navy;
    border-left: 10px solid navy;
}
p{
    font-size: 20px;
}

.main-nav{
    background-color: lightgray;
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 25px;
    display: block;
}
.main-nav>a{
    color: navy;
}
